/*https://en.bem.info/methodology/quick-start/*/
a{
    text-decoration: none;
}

body{
    font-family: 'Barlow', sans-serif;
    padding: 1.5rem;
    font-size: 16px;
    line-height: 26px;
}

/******titles && texts*****/
.title_xxl{
    font-family: 'Fraunces', serif;
    font-size: 150px;
    line-height: 72px;
}

.title_xl{
    font-family: 'Fraunces', serif;
    font-size: 72px;
    line-height: 72px;
}

.title_l{
    font-family: 'Fraunces', serif;
    font-size: 40px;
    line-height: 48px;
}

.title_m{
    font-family: 'Fraunces', serif;
    font-size: 32px;
    line-height: 36px;
}

.title_s{
    font-family: 'Fraunces', serif;
    font-size: 24px;
    line-height: 32px;
}

.text_s{
    font-family: 'Barlow', sans-serif;
    font-size: 12px;
    line-height: 15px;
}

.text_m{
    font-size: 0.93rem;
    line-height: 26px;
}

/******buttons*****/

.button_green{
    font-family: 'Fraunces', serif;
    font-size: 1rem;
    padding: 1rem 2rem;
    background-color: rgb(14,135,132);
    color: #FFFFFF;
    border-radius: .3rem;
    border: none;
}

.button_green:hover{
    background-color: rgb(101, 210, 207);
}

.button_disable{
    color: rgb(226, 222, 219)
}