.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__card{
    background-image: url("../../images/about/mobile/image-hero-whitecup.jpg");
    background-position: center;
    height: 26.5rem;
    color: var(--color--light-cream);
    margin: 2.5rem 0;
}

.about__card__text{
    width: 17rem;
    color: rgba(254, 252, 247, 0.7);
}

.about__card__content h2{
    margin-bottom: 2rem;
}