.quality{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
}

.quality__card__img{
    background-image: url("../../images/about/mobile/image-quality.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: -5rem;
    border-radius: 0.4rem;
    width: 18rem;
    height: 10rem;
    margin-bottom: -3rem;
}

.quality__card{
    background-color: var(--color--dark-blue);
}

.quality__card__title{
    color: var(--color--light-cream);
}

.quality__card__text{
    width: 17.8rem;
    color: rgba(254, 252, 247, 0.7);
    margin-bottom: 5rem;
}