.collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.collection__title{
    background-image: linear-gradient(to bottom, rgb(167, 168, 170) 10%, rgb(236, 235, 232) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    text-transform: lowercase;
    font-family: 'Fraunces', serif;
    font-size:45px;
    line-height: 48px;
    margin-top: 150px;
}

.collection__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.9rem;
    width: 21.875rem;
    color: var(--color--dark-grey-blue);
    text-align: center;

}

.collection__card img{
    margin-left: 2.7rem;
    width: 12rem;
}

.collection__card__title{
    margin-top: 1rem;
}

.collection__card__text{
    margin: 1rem 0;
    width: 17rem;
}
