.plan{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

.plan__card{
    background-image: url("../../images/home/mobile/image-hero-coffeepress.jpg");
    height: 32rem;
}

.plan__card__title{
    color: #FEFCF7;
    width: 16.875rem;
}

.plan__card__text{
    color: rgba(254, 252, 247, 0.65);
    width: 17.812rem;
}

