.header{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 20rem
}

.header img{
height: 1.3rem;
}

.header__nav img{
    height: 1rem;
}

.header__nav__ul{
    display: none;
}

