.plan{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

.plan__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../../assets/home/mobile/image-hero-coffeepress.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    gap: 2rem;
    border-radius: .5rem;
    width: 21.875rem;
    height: 32rem;
}

.plan__card__title{
    color: #FFFFFF;
    width: 16.875rem;
}

.plan__card__text{
    color: rgba(255, 255, 255, 0.65);
    width: 17.812rem;
}

