/******* PLAN | DESKTOP *******/

@media screen and (min-width: 1024px) {

    /****** DESKTOP | PLAN SECTION ******/
    .plan__card {
        background-image: url("../../../images/plan/desktop/image-hero-blackcup.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 24rem;
        margin-top: 4rem;
    }

    .plan__title{
        font-size: 4.5rem;
    }

    .plan__text{
        font-size: 1.1rem;
        width: 26rem;
    }

    /****** DESKTOP | STEPS SECTION ******/

    .steps{
        margin: 0;
    }

    .steps__card{
        padding-left: 4rem;
    }

    .steps__card__content{
        padding-right: 5rem;
    }

    .steps__card__content:last-child{
        padding-right: 2rem;
    }

    .steps__card__text{
        width: 15rem;
    }

}


@media screen and (min-width: 1240px) {
    .steps__card__text{
        width: 17rem;
    }

}
