.choice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

/*******accordion*******/

.accordion img{
    transition: transform 500ms;
}

.accordion[open] img{
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    transition: transform 500ms;
}

.accordion__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    color: var(--color--grey);
}

.accordion__title h2{
    width: 15rem;
}

summary{
    list-style: none;
}

.accordion__button{
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: rgb(244, 241, 234);
    color: var(--color--dark-grey-blue);
    width: 20rem;
    border: none;
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 0.5rem;
}

.accordion__button_select{
    background-color: var(--color--dark-cyan);
    color: var(--color--light-cream);
}

.accordion__button:hover{
    background-color: var(--color--dark-cyan);
    color: var(--color--light-cream);
}
