.modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    z-index: 10;
}

.modal__card{
    width: 20rem;
    display: flex;
    background-color: var(--color--light-cream);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    overflow: hidden;
    top: 1rem;
}

.modal__card__title{
    color: var(--color--light-cream);
    background-color: var(--color--dark-grey-blue);
    padding: 1.5rem 0 1.5rem 1rem;
    width: 100%;
    margin-bottom: 2rem;
}

.modal__card__check{
    width: 16rem;
    color: rgb(131, 136, 142);
}

.modal__card__text{
    margin-top: 1rem;
    font-size: 1rem;
    width: 16rem;
    color: var(--color--dark-grey-blue);
}

.modal__card__check span{
    color: var(--color--dark-cyan);
}

.modal__card__button{
    margin: 3rem 0;
}

.modal__card__button-desk{
    margin: 3rem 0;
    padding: 1.4rem 4rem;
    font-size: 1.4rem;
}

#value{
    margin-right: 1rem;
}