.modal{
    /*display: flex;*/
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal__card{
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    overflow: hidden;
}

.modal__card__title{
    color: var(--color--light-cream);
    background-color: var(--color--dark-grey-blue);
    padding: 1.5rem 0 1.5rem 1rem;
    width: 100%;
    margin-bottom: 2rem;
}

.modal__card__text{
    width: 16rem;
    color: var(--color--grey);
}

.modal__card__button{
    margin: 3rem 0;
}