.order{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8rem 0;
    gap: 3rem;

}

.order__card{
    background-color: var(--color--dark-blue);
    color: var(--color--light-cream);
    border-radius: 0.5rem;
    width: 20rem;
}

.order__card__title{
    text-transform: uppercase;
    color: var(--color--grey);
    padding: 1.5rem 0 1rem 1rem;
}

.order__card__text{
    padding: 0 0 3rem 1rem;
    width: 16rem;
}

.order__card__text span{
    color: var(--color--dark-cyan);
}
