
@media screen and (min-width: 768px) {
    .about__card {
        background-image: url("../../../images/about/tablet/image-hero-whitecup.jpg");
        width: 100%;
        align-items: flex-start;
        text-align: left;
    }

    .about__card h2{
        padding-left: 3rem;
    }

    .about__card__text{
        padding-left: 3rem;
        width: 25rem;
    }

    /****** commitment****/

    .commitment{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 5rem;
    }

    .commitment__content{
        text-align: left;
    }

    .commitment__img{
        background-image: url("../../../images/about/tablet/image-commitment.jpg");
        width: 18rem;
        height: 30rem;
        margin: 0;
    }
    .commitment__text{
        width: 21rem;
    }

}
